.btn {
  padding: 30px 0;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
}

button {
  padding: 15px 30px;
  background-color: #f2a0a1;
  border: none;
  box-shadow: 8px 8px 10px -5px #777777;
  border-radius: 5px;
  color: #fff;
  cursor: pointer;
  transition: all 0.3s;
  font-size: large;
  font-weight: bold;
}

button:hover {
  transform: translateY(5px);
  box-shadow: none;
}
